body {
  background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmedia.giphy.com%2Fmedia%2FAtK6cr1n21uY8%2Fsource.gif&f=1&nofb=1') !important;
  background-size: cover;
  height: 100px;
  padding:0;
  
}
